[run]
branch = True

omit =
    quotes/migrations/*
    api/migrations/*
    backend/wsgi.py
    backend/settings.py
    api/urls.py
    quotes/urls.py
    manage.py
    quotes/tests/*
    quotes/events.py
    api/tests.py
    checkpurchase.py

[report]
skip_covered = True
